body {
    background-color: #a6c6bc;
    width: 100%;
    margin: 0;
}

.main-content {
    transition: padding-left ease 1s;
    padding-left: 220px;
}
.container {
    background-color: #ef7442;
    width: 70%;
    border-radius: 6px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, .4);
    border: 1px solid #d35726;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
}

@media (max-width: 650px) {
    .container {
        width: 90%;
        min-width: 250px;
        margin: 10px;
        margin-top: 100px;
    }
}

@media (min-width: 960px) {
    .container {
        width: 50%;
    }
}

@media (min-width: 1250px) {
    .container {
        width: 25%;
    }
}

.time-section {
    padding: 20px;
}

.location {
    color: #bc5b37;
    font-size: 1em;
}

.time {
    font-weight: 600;
    font-size: 4em;
    color: white;    
}

.seconds {
    font-size: .2em;
    color: white;
}
.date {
    color: white;
    font-weight: 100;
}

.location, .time, .date, .alarm-count, .degrees, .weather-description, #alarmContainer {
    text-align: center;
    font-family: Lato, sans-serif;
}

.divider {
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    border-top: 1px solid #d35726;
    background-color: #f77e4f;
}

.alarm-count {
    margin-top: 20px;
    font-weight: 600;
    color: white;
    font-size: 16px;
}

.weather-container {
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.weather {
    float: left;
    width: 100px;
    height: 150px;
    background: no-repeat top center;
    margin: 10px;
}


@media (max-width: 800px) {
    .weather-container {
        width: 100%;
    }
    
    .weather {
        clear: both;
        width: 100%;
    }
}

.weather-icon {
    display: block;
    margin: auto;
}

.degrees {
    color: white;
    font-size: 32px;
    font-weight: 100;
    margin-top: 10px;
    
}

.degrees-symbol {
    font-size: 14px;
    vertical-align: top;
}

.weather-description {
    color: white;
    font-weight: 100;
    font-size: 18px;
}

.sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: #525655;
    transition: width ease 1s;
    width: 240px;
    font-family: Lato, sans-serif;

}

.sidebar > .title {
    font-size: 13px;
    font-weight: 900;
    line-height: 30px;
    padding: 10px;
    color: white;
}

.alarms {
    color: white;
    font-size: 14px;
    padding: 10px;
}

.new-alarm {
    width: 180px;
    height: 40px;
    background-color: #EF7442;
    border-radius: 3px;
    border: inset 1px solid #bc4d21;
    text-align: center;
    line-height: 40px;
    color: white;
    margin: 0 auto;
    position:absolute;
    bottom: 20px;
    left: 20px;
    
}
.name-and-time {
    width: 140px;
}
.alarm-wrapper {
    margin-bottom: 15px;
}
.alarm-wrapper > div {
    display: inline-block;
    margin: 0;
}

.alarm-wrapper .alarm-time {
    font-size: 20px;
    font-weight: 100;
    
}

.alarm-wrapper .alarm-name {
    font-size: 16px;
}

.alarm-wrapper > .alarm-trash {
    margin-left: 12px;
    cursor: pointer;
}

.switch {
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color: #686d6c;
    border: 1px solid #404443;
    position: relative;
    vertical-align: bottom;
    
}

.switch:before {
    content: 'on';
    position: absolute;
    left: 6px;
    font-weight: 900;
}

.switch.off:before {
    content:'off';
    position: absolute;
    left: 24px;
    
}

.switch > .circle {
    transition: ease .4s;
    left: 32px;
    top: 0px;
}


.switch.off > .circle {
    transition: ease .4s;
    left: -2px;
}

.switch > span {
    top: 0px;
    left: 8px;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 900;
}

.circle {
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 10px;
    border: 1px solid #e8efed;
    background-color: #dce5e2;
}

/*
.sidebar:hover {
    transition: width ease 1s;
    width: 220px;
}
*/
.sidebar:mouseout {
    transition: width ease 1s;
    height: 50px;
}

/********** The container that holds the alarm section *********/
#alarmContainer {
	width: 300px;
	margin:0px auto;
	background:#fff;
	color:#777;
}
#alarmHeader {
	position:relative;
	border-bottom:1px solid #ccc;
}
#alarmHeader h2 {
	justify-content:flex-end;
}
#alarmHeader input {
	position:absolute;
	right:0px;
	margin:5px;
}
#alarms {
	margin-top:20px;
}
/********** The black transparent mask when adding an alarm clock *********/
#mask {
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	top:0;
	left:0;
}
/********** The white popup container when adding an alarm clock *********/
#popup {
	position:absolute;
	top:45%;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	width:250px;
	z-index:1;
	background-color:white;
	border:1px solid #ccc;
	border-radius:5px;
	padding:20px;
}
#popup h2 {
	width:100%;
	text-align:left;
	border-bottom:1px solid #ccc;
}
#popup .button {
	margin:0px 10px;
}
#popup #alarmName {
	width:90%;
	font-size:14px;
	margin:10px auto 25px auto;
}

.name, .alarm-time {
    margin-right: 20px;
}





.hide {
	display:none;
}

